:root {
    --primary-font: "Roboto",  sans-serif;
    --secondary-font: "Raleway",  sans-serif;
    --primary-white-color: #ffffff;
    --primary-black-color: #434455;
    --secondary-white-color: #F4F4FD;
    --secondary-black-color: #2E2F42;
    --primary-accent-color: #4D5AE5;
    --hover-link-color: #404BBF;
}

body {
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
    color: var(--primary-black-color);
}

.link {
    text-decoration: none;
    color: var(--secondary-black-color);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.link:hover,
.link:focus {
    color: var(--hover-link-color);
}

.logo {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    color: var(--primary-accent-color);
}

.logo-span {
    color: var(--secondary-black-color);
}

.footer-logo-span {
    color: var(--secondary-black-color);
}

.navigation {
    font-weight: 500;
}

.address-list {
    font-style: normal;
}

.address-item {
    color: var(--primary-black-color);
}

.list {
    list-style-type: none;
}

.future-cart-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
    color: var(--secondary-black-color)
}

.future-cart-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--primary-black-color)
}

.title-section {
    background-color: var(--secondary-black-color);
}

.title {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--primary-white-color);
}

.title-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
}

.button:hover,
.button:focus {
    background-color: var(--hover-link-color);
    color: var(--primary-white-color);
}

.button {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.secondary-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: var(--secondary-black-color);
}

.team-section {
    background-color: var(--secondary-white-color);
}

.team-card {
    background-color: var(--primary-white-color);
}

.team-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-black-color);
}

.team-card-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.filter-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--secondary-white-color);
    color: var(--primary-accent-color)
}

.portfolio-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-black-color)
}

.portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background-color: var(--secondary-black-color);
}

.footer-logo-span {
    color: var(--secondary-white-color);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--secondary-white-color);
}